# Configuração do site
PUBLIC_SITE_URL=https://fabsantos.dev
PUBLIC_SITE_NAME=Fabrício Bahiense Portfolio
PUBLIC_SITE_DESCRIPTION=Portfolio Page of Fabrício Bahiense, a Front-End / Mobile developer specializing in high-impact, captivating, and responsive web applications.

# API Backend
PUBLIC_API_URL=http://localhost:5000

# Analytics (opcional)
PUBLIC_GOOGLE_ANALYTICS_ID=
PUBLIC_VERCEL_ANALYTICS=true

# Social Media
PUBLIC_GITHUB_URL=https://github.com/FabbSantos
PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/fabricio-b-santos/
PUBLIC_INSTAGRAM_URL=https://www.instagram.com/fabbahiense_
