---
import Github from './Github.astro';
import Instagram from './Instagram.astro';
import LinkCard from './LinkCard.astro';
import Linkedin from './Linkedin.astro';
---

<section
	id='hero'
	class='snap'
>
	<svg
		width='1920'
		height='1080'
		viewBox='0 0 1920 1080'
		fill='none'
		xmlns='http://www.w3.org/2000/svg'
		class='svghero'
	>
		<g
			style='mix-blend-mode:hard-light'
			clip-path='url(#clip0_208_241)'
		>
			<rect
				width='1920'
				height='1080'
				fill='#9F9F9F'
			></rect>
			<path
				d='M523.071 0H2000V1125H-1L4.46725 639.133L134.118 602.001C373.881 602.001 336.986 476.246 404.355 274.14C495.735 0 442.625 114.554 523.071 0Z'
				fill='#131314'
			></path>
			<path
				d='M564.466 0H2000V1125H-1L4.46725 639.133L134.118 602.001C373.881 602.001 336.986 476.246 404.355 274.14C495.735 0 484.02 114.554 564.466 0Z'
				fill='#9F9F9F'
			></path>
			<path
				d='M1002.62 0H2000V1125H-1L4.46725 639.133L398.107 602.001C637.869 602.001 726.004 543.772 784.717 338.922C804.309 270.563 890.937 160.376 890.937 160.376C890.937 160.376 982.317 94.8034 1002.62 0Z'
				fill='#9F9F9F'
			></path>
			<path
				d='M1333.78 0H2000V1125H-1V636.763L655.847 611.482C895.609 611.482 1005.61 582.484 1064.33 377.633C1083.92 309.274 1185.56 177.036 1216.63 131.935C1239.69 98.4517 1256.46 76.6327 1290.82 47.4017C1310.35 16.5906 1333.78 0 1333.78 0Z'
				fill='url(#paint0_radial_208_241)'
			></path>
			<path
				d='M1333.78 0H2000V1125H-1V636.763C-1 636.763 6.8103 635.183 881.564 635.183C1121.33 635.183 1076.69 524.812 1135.4 319.961C1154.99 251.602 1185.56 177.036 1216.63 131.935C1239.69 98.4517 1256.46 76.6327 1290.82 47.4017C1310.35 16.5906 1333.78 0 1333.78 0Z'
				fill='url(#paint1_linear_208_241)'
			></path>
			<path
				d='M1557.16 0H2000V1125H-1V636.763C-1 636.763 145.834 728.406 1020.59 728.406C1260.35 728.406 1336.21 528.412 1407.98 327.862C1470.46 153.265 1557.16 0 1557.16 0Z'
				fill='url(#paint2_linear_208_241)'
			></path>
			<g filter='url(#filter0_b_208_241)'>
				<path
					d='M1557.16 0H2000V1125H-1V636.763C-1 636.763 105.746 650.5 980.5 650.5C1220.26 650.5 1336.21 528.412 1407.98 327.862C1470.46 153.265 1557.16 0 1557.16 0Z'
					fill='white'
					fill-opacity='0.01'
				></path>
			</g>
			<path
				d='M1789.9 0H2000V1125H-1V636.763C-1 636.763 276.266 808.199 1151.02 808.199C1390.78 808.199 1560.84 553.862 1636.04 338.132C1701.65 116.134 1789.9 0 1789.9 0Z'
				fill='url(#paint3_linear_208_241)'
			></path>
			<path
				d='M2000 407V1125H-1V636.855C-1 636.855 1064.33 894.355 1131.49 894.355C1261.5 894.355 1158.46 908.246 1322.85 899.095C1366.93 896.64 1441.38 916.211 1574.34 910.943C1698.11 906.038 1901.59 679.508 2000 407Z'
				fill='url(#paint4_linear_208_241)'
			></path>
			<path
				d='M2000 876.262V1125H-1V637C-1 637 252.835 960.754 1127.59 960.754C1367.35 960.754 1533.84 952 1697.74 936.275C1869.48 919.798 1746.1 876.262 2000 876.262Z'
				fill='#8710DB'
			></path>
			<path
				d='M477.272 0C477.272 0 485.08 33.9712 512.407 78.2128C529.448 105.803 524.899 111.961 542.857 124.824C556.73 134.762 571.702 135.402 586.58 146.155C619.373 169.857 622.496 199.877 703.696 237.008C738.831 253.075 765.361 328.395 802.074 387.114C838.787 445.833 871.453 492.89 912.5 579C935.714 627.699 962.746 713.049 1010.5 796.5C1075.29 909.727 1173.45 949.186 1301.77 969.365C1417.32 987.535 1526.57 978.47 1649.99 936.973C1892.03 855.601 1999 626 1999 626V1125H1V0H477.272Z'
				fill='url(#paint5_linear_208_241)'
			></path>
			<path
				d='M389.825 0C389.825 0 444.479 63.9923 498.353 96.3834C522.242 110.747 557.958 125.467 586.58 146.155C619.373 169.857 622.496 199.877 703.696 237.008C738.831 253.075 765.361 328.395 802.074 387.114C838.787 445.833 876.522 491.139 915.286 578.301C936.5 626 963.5 741.5 1019.91 790.818C1084.7 904.045 1173.45 949.186 1301.77 969.365C1417.32 987.535 1526.57 978.47 1649.99 936.973C1892.03 855.601 1999 578.301 1999 578.301V1125H1V0H389.825Z'
				fill='url(#paint6_linear_208_241)'
			></path>
			<path
				d='M246.725 0C246.725 0 367.744 41.0815 461.437 143.785C510.529 197.598 583.566 196.523 664.438 244.119C740.954 289.15 839.332 435.305 899.451 553.02C947.508 647.115 989.532 753.047 1034 846.5C1082.02 947.41 1134.23 1034.1 1238 1085C1319.72 1125.08 1465.06 1107.62 1595.12 1107.62C1880.88 1107.62 1998 884 1998 884V1125H0V0H246.725Z'
				fill='url(#paint7_linear_208_241)'
			></path>
			<path
				d='M1 17C1 17 80.4819 44.3872 136.111 127.374C198.589 220.581 373.344 235.228 489.897 266.394C625.783 302.731 724.887 386.846 846.026 553.123C1020.97 793.248 1096.53 905.092 1190.44 1033.37C1250.58 1115.52 1570 1125 1570 1125H1V17Z'
				fill='url(#paint8_linear_208_241)'
			></path>
			<path
				d='M0 278.385C0 278.385 95.3977 264.439 167.914 286.29C270.224 317.119 321.067 381.049 410.022 404.863C513.733 432.628 582.104 444.669 723.982 509.999C905.953 593.791 959.421 749.942 1081.68 918.682C1201.95 1084.68 1241 1125 1241 1125H0V278.385Z'
				fill='url(#paint9_linear_208_241)'
			></path>
			<path
				d='M1 448C1 448 119.072 535.82 302.256 582.294C390.344 604.642 479.688 597.059 604.292 639.961C794.724 705.529 814.235 846.932 950.815 952.788C1056.72 1034.87 1199 1125 1199 1125H1V448Z'
				fill='url(#paint10_linear_208_241)'
			></path>
			<path
				d='M1 714C1 714 227.098 823.683 376.068 891.22C673.801 1026.2 794 1125 794 1125H1V714Z'
				fill='url(#paint11_linear_208_241)'
			></path>
			<path
				d='M1 1039C1 1039 84.627 1060.45 137.689 1076.08C215.016 1098.86 290 1125 290 1125H1V1039Z'
				fill='url(#paint12_linear_208_241)'
			></path>
			<g filter='url(#filter1_b_208_241)'>
				<path
					d='M969 699.5C969 699.5 1107.56 743.277 1164.5 737C1305.86 721.417 1468.77 640.755 1602 591C1781.96 523.793 1999 114 1999 114V1125H1539.5C1539.5 1125 1463.62 1120.9 1388 1108C1327.79 1097.73 1269.27 1083.73 1231 1064C1182.5 1039 1124.5 943 1124.5 943L1025 818.5C1025 818.5 987.5 748 969 699.5Z'
					fill='url(#paint13_linear_208_241)'
					fill-opacity='0.01'
				></path>
			</g>
			<g filter='url(#filter2_b_208_241)'>
				<path
					d='M1014.5 798.5C991.974 756.813 978.5 722 978.5 722C978.5 722 1044.82 775.867 1157 763.5C1298.36 747.917 1515.64 622.849 1597 431C1644.5 319 1690 135.5 1792 7.62939e-06L1999 0V880C1999 880 1946.33 986.012 1869.5 1034.5C1768.4 1098.31 1539.5 1125 1539.5 1125C1539.5 1125 1463.62 1120.91 1388 1108C1327.79 1097.73 1269.27 1083.73 1231 1064C1182.5 1039 1124.5 943 1124.5 943L1055.5 856C1055.5 856 1033.94 834.482 1014.5 798.5Z'
					fill='white'
					fill-opacity='0.01'
				></path>
			</g>
			<path
				d='M1811 746C1877.08 652.311 1998 518 1998 518V785L1918.5 895.5L1811 937L1502.5 895.5C1502.5 895.5 1749.1 833.761 1811 746Z'
				fill='url(#paint14_linear_208_241)'
			></path>
			<path
				d='M1811 746C1877.08 652.311 1998 518 1998 518V785L1918.5 895.5L1811 937L1502.5 895.5C1502.5 895.5 1749.1 833.761 1811 746Z'
				fill='url(#paint15_linear_208_241)'
			></path>
			<path
				opacity='0.2'
				d='M1665.41 896.826C1588.6 891.499 1582.06 901.89 1545.56 888.514C1516.37 877.814 1491.95 873.499 1483.38 872.68C1449.73 870.346 1419.47 879.77 1387.79 877.573C1363.42 875.882 1343.8 884.011 1338.38 883.635C1332.97 883.26 1321.06 898.023 1285.85 895.581C1250.64 893.139 1184.25 898.702 1164.71 895.991C1164.71 895.991 1556.55 985.011 1665.41 896.826Z'
				fill='url(#paint16_linear_208_241)'
			></path>
			<path
				d='M1031 915.761C1136.58 915.762 1144.55 930.596 1195.74 915.761C1236.69 903.894 1270.5 900.309 1282.29 900H1359.54C1366.05 905.254 1385.79 915.761 1412.59 915.761C1446.1 915.761 1472.15 928.741 1479.6 928.741C1487.05 928.741 1501.94 950.065 1550.33 950.065C1598.73 950.065 1689.01 963.972 1716 962.118C1716 962.118 1171.55 1046.72 1031 915.761Z'
				fill='url(#paint17_linear_208_241)'
			></path>
			<path
				opacity='0.2'
				d='M1010 847.032C1074.81 847.032 1136.4 839.269 1200.39 838C1234.56 838 1266.16 847.032 1299.12 847.032C1335.89 847.032 1367.44 866.689 1403.48 866.689C1440.15 866.689 1508.55 874.658 1529 873.596C1529 873.596 1116.49 922.073 1010 847.032Z'
				fill='url(#paint18_linear_208_241)'
			></path>
			<path
				d='M1811 947C1877.08 853.311 1998 719 1998 719V1124.5H1461C1461 1124.5 1749.1 1034.76 1811 947Z'
				fill='url(#paint19_linear_208_241)'
			></path>
			<path
				d='M0 -0.000488281L1920 -1.95312e-05V1080H0V-0.000488281Z'
				fill='black'
				style='mix-blend-mode:saturation'
			></path>
			<path
				d='M0 -0.000488281L1920 -1.95312e-05V1080H0V-0.000488281Z'
				fill='black'
				fill-opacity='0.6'
				style='mix-blend-mode:soft-light'
			></path>
		</g>
		<defs>
			<filter
				id='filter0_b_208_241'
				x='-61'
				y='-60'
				width='2121'
				height='1245'
				filterUnits='userSpaceOnUse'
				color-interpolation-filters='sRGB'
			>
				<feFlood
					flood-opacity='0'
					result='BackgroundImageFix'
				></feFlood>
				<feGaussianBlur
					in='BackgroundImageFix'
					stdDeviation='30'
				></feGaussianBlur>
				<feComposite
					in2='SourceAlpha'
					operator='in'
					result='effect1_backgroundBlur_208_241'
				></feComposite>
				<feBlend
					mode='normal'
					in='SourceGraphic'
					in2='effect1_backgroundBlur_208_241'
					result='shape'
				></feBlend>
			</filter>
			<filter
				id='filter1_b_208_241'
				x='890'
				y='35'
				width='1188'
				height='1169'
				filterUnits='userSpaceOnUse'
				color-interpolation-filters='sRGB'
			>
				<feFlood
					flood-opacity='0'
					result='BackgroundImageFix'
				></feFlood>
				<feGaussianBlur
					in='BackgroundImageFix'
					stdDeviation='39.5'
				></feGaussianBlur>
				<feComposite
					in2='SourceAlpha'
					operator='in'
					result='effect1_backgroundBlur_208_241'
				></feComposite>
				<feBlend
					mode='normal'
					in='SourceGraphic'
					in2='effect1_backgroundBlur_208_241'
					result='shape'
				></feBlend>
			</filter>
			<filter
				id='filter2_b_208_241'
				x='890.5'
				y='-88'
				width='1196.5'
				height='1301'
				filterUnits='userSpaceOnUse'
				color-interpolation-filters='sRGB'
			>
				<feFlood
					flood-opacity='0'
					result='BackgroundImageFix'
				></feFlood>
				<feGaussianBlur
					in='BackgroundImageFix'
					stdDeviation='44'
				></feGaussianBlur>
				<feComposite
					in2='SourceAlpha'
					operator='in'
					result='effect1_backgroundBlur_208_241'
				></feComposite>
				<feBlend
					mode='normal'
					in='SourceGraphic'
					in2='effect1_backgroundBlur_208_241'
					result='shape'
				></feBlend>
			</filter>
			<radialGradient
				id='paint0_radial_208_241'
				cx='0'
				cy='0'
				r='1'
				gradientUnits='userSpaceOnUse'
				gradientTransform='translate(1070 169) rotate(93.1239) scale(596.386 1060.77)'
			>
				<stop stop-color='#9F9F9F'></stop>
				<stop
					offset='1'
					stop-color='#D188C2'
				></stop>
				<stop
					offset='1'
					stop-color='#383639'
				></stop>
			</radialGradient>
			<linearGradient
				id='paint1_linear_208_241'
				x1='1478.5'
				y1='29'
				x2='724'
				y2='860.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#9F9F9F'></stop>
				<stop
					offset='0.827842'
					stop-color='#9F9F9F'
				></stop>
				<stop
					offset='0.973891'
					stop-color='#D68BB6'
				></stop>
				<stop
					offset='1'
					stop-color='#DB9CC2'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint2_linear_208_241'
				x1='1706'
				y1='27.9999'
				x2='908'
				y2='1064'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#D794B9'></stop>
				<stop
					offset='0.27231'
					stop-color='#D783B1'
				></stop>
				<stop
					offset='0.701907'
					stop-color='#D46AA6'
					stop-opacity='0.41'
				></stop>
				<stop
					offset='1'
					stop-color='#D98FB7'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint3_linear_208_241'
				x1='1836'
				y1='0.00011728'
				x2='1549'
				y2='1125'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#D66CA2'></stop>
				<stop
					offset='0.286267'
					stop-color='#D6619B'
				></stop>
				<stop
					offset='0.698902'
					stop-color='#CE50A8'
				></stop>
				<stop
					offset='1'
					stop-color='#C02DC8'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint4_linear_208_241'
				x1='1583.5'
				y1='465.5'
				x2='1371'
				y2='926'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#CD53A5'></stop>
				<stop
					offset='1'
					stop-color='#8B12D9'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint5_linear_208_241'
				x1='573'
				y1='2.06346e-05'
				x2='1074'
				y2='1177.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#D477B8'></stop>
				<stop
					offset='0.482013'
					stop-color='#8A10D7'
				></stop>
				<stop
					offset='0.803096'
					stop-color='#8710D7'
				></stop>
				<stop
					offset='0.995093'
					stop-color='#520DCA'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint6_linear_208_241'
				x1='573'
				y1='6.18557e-06'
				x2='1121.5'
				y2='946.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#D748A2'></stop>
				<stop
					offset='0.560148'
					stop-color='#C826C3'
				></stop>
				<stop
					offset='0.746417'
					stop-color='#9107DF'
				></stop>
				<stop
					offset='1'
					stop-color='#B824E2'
					stop-opacity='0.62'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint7_linear_208_241'
				x1='781.5'
				y1='114'
				x2='1059'
				y2='965.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#CB34AB'></stop>
				<stop
					offset='0.180718'
					stop-color='#CC30B2'
				></stop>
				<stop
					offset='0.736495'
					stop-color='#BF19CD'
				></stop>
				<stop
					offset='1'
					stop-color='#510BC9'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint8_linear_208_241'
				x1='785.5'
				y1='17'
				x2='785.5'
				y2='1125'
				gradientUnits='userSpaceOnUse'
			>
				<stop
					offset='0.0016848'
					stop-color='#B62DAF'
				></stop>
				<stop
					offset='0.45283'
					stop-color='#A41BC7'
				></stop>
				<stop
					offset='1'
					stop-color='#8710D7'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint9_linear_208_241'
				x1='360.5'
				y1='274'
				x2='1179.5'
				y2='1125'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#A11CBD'></stop>
				<stop
					offset='0.413611'
					stop-color='#A51EC1'
				></stop>
				<stop
					offset='1'
					stop-color='#8710DB'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint10_linear_208_241'
				x1='33.5'
				y1='519'
				x2='600'
				y2='1125'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#7012C5'></stop>
				<stop
					offset='1'
					stop-color='#510BC9'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint11_linear_208_241'
				x1='53.5'
				y1='714'
				x2='397.5'
				y2='1125'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#4E12B0'></stop>
				<stop
					offset='1'
					stop-color='#3C12A4'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint12_linear_208_241'
				x1='58.5'
				y1='985'
				x2='31'
				y2='1125'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#21005F'></stop>
				<stop
					offset='1'
					stop-color='#4411A9'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint13_linear_208_241'
				x1='1346.5'
				y1='688.5'
				x2='975'
				y2='809.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='white'></stop>
				<stop
					offset='1'
					stop-color='white'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint14_linear_208_241'
				x1='1894'
				y1='649'
				x2='1892'
				y2='895.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#C53CC5'></stop>
				<stop
					offset='1'
					stop-color='#AA18DD'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint15_linear_208_241'
				x1='1894'
				y1='649'
				x2='1892'
				y2='895.5'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#C53CC5'></stop>
				<stop
					offset='1'
					stop-color='#AA18DD'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint16_linear_208_241'
				x1='1421.57'
				y1='856.364'
				x2='1422.65'
				y2='913.074'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#8D13D7'></stop>
				<stop
					offset='1'
					stop-color='#961FDB'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint17_linear_208_241'
				x1='1386.14'
				y1='900'
				x2='1379.97'
				y2='982.956'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#8D13D7'></stop>
				<stop
					offset='1'
					stop-color='#961FDB'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint18_linear_208_241'
				x1='1279.08'
				y1='838'
				x2='1281.61'
				y2='876.394'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#8D13D7'></stop>
				<stop
					offset='1'
					stop-color='#961FDB'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<linearGradient
				id='paint19_linear_208_241'
				x1='1922'
				y1='763.5'
				x2='1648.5'
				y2='1226'
				gradientUnits='userSpaceOnUse'
			>
				<stop stop-color='#9511DE'></stop>
				<stop
					offset='0.433705'
					stop-color='#7507E6'
					stop-opacity='0.57'
				></stop>
				<stop
					offset='0.764652'
					stop-color='#8F1FD9'
					stop-opacity='0'
				></stop>
			</linearGradient>
			<clipPath id='clip0_208_241'>
				<rect
					width='1920'
					height='1080'
					fill='white'
				></rect>
			</clipPath>
		</defs>
	</svg>
	<main>
		<svg
			class='astro-a'
			width='495'
			height='623'
			viewBox='0 0 495 623'
			fill='none'
			xmlns='http://www.w3.org/2000/svg'
			aria-hidden='true'
		>
			<path
				fill-rule='evenodd'
				clip-rule='evenodd'
				d='M167.19 364.254C83.4786 364.254 0 404.819 0 404.819C0 404.819 141.781 19.4876 142.087 18.7291C146.434 7.33701 153.027 0 162.289 0H332.441C341.703 0 348.574 7.33701 352.643 18.7291C352.92 19.5022 494.716 404.819 494.716 404.819C494.716 404.819 426.67 364.254 327.525 364.254L264.41 169.408C262.047 159.985 255.147 153.581 247.358 153.581C239.569 153.581 232.669 159.985 230.306 169.408L167.19 364.254ZM160.869 530.172C160.877 530.18 160.885 530.187 160.894 530.195L160.867 530.181C160.868 530.178 160.868 530.175 160.869 530.172ZM136.218 411.348C124.476 450.467 132.698 504.458 160.869 530.172C160.997 529.696 161.125 529.242 161.248 528.804C161.502 527.907 161.737 527.073 161.917 526.233C165.446 509.895 178.754 499.52 195.577 500.01C211.969 500.487 220.67 508.765 223.202 527.254C224.141 534.12 224.23 541.131 224.319 548.105C224.328 548.834 224.337 549.563 224.347 550.291C224.563 566.098 228.657 580.707 237.264 593.914C245.413 606.426 256.108 615.943 270.749 622.478C270.593 621.952 270.463 621.508 270.35 621.126C270.045 620.086 269.872 619.499 269.685 618.911C258.909 585.935 266.668 563.266 295.344 543.933C298.254 541.971 301.187 540.041 304.12 538.112C310.591 533.854 317.059 529.599 323.279 525.007C345.88 508.329 360.09 486.327 363.431 457.844C364.805 446.148 363.781 434.657 359.848 423.275C358.176 424.287 356.587 425.295 355.042 426.275C351.744 428.366 348.647 430.33 345.382 431.934C303.466 452.507 259.152 455.053 214.03 448.245C184.802 443.834 156.584 436.019 136.218 411.348Z'
				fill='url(#paint0_linear_1805_24383)'
			>
			</path>
			<defs>
				<linearGradient
					id='paint0_linear_1805_24383'
					x1='247.358'
					y1='0'
					x2='247.358'
					y2='622.479'
					gradientUnits='userSpaceOnUse'
				>
					<stop stop-opacity='0.9'></stop>
					<stop
						offset='1'
						stop-opacity='0.2'
					></stop>
				</linearGradient>
			</defs>
		</svg>

		<div class='flex flex-col gap-4 justify-center items-center w-full'>
			<span
				class='uppercase text-base fade-text text-center transition-all tracking-wider hover:tracking-[.8em] f'
				>Fabrício Bahiense</span
			>
			<h1>
				<span class='fade-text'> Are you ready to</span> see your dream project
				come to life?
			</h1>

			<p
				class='fade-text text-xl text-center tracking-widest max-w-[95%] md:max-w-[80%]'
			>
				<span class='text-white underline'
					>Your vision, our expertise.</span
				> My specialty is to deliver <span class='text-white'
					>high-impact</span
				>, <span class='text-white'>captivating</span>, and <span
					class='text-white'>responsive</span
				> landing pages, sites, or apps.
			</p>

			<ul class='flex flex-row gap-4 mt-20'>
				<li>
					<LinkCard
						href='https://github.com/FabbSantos'
						aria='github'
					>
						<Github />
					</LinkCard>
				</li>
				<li>
					<LinkCard
						href='https://www.linkedin.com/in/fabricio-b-santos/'
						aria='linkedin'
					>
						<Linkedin />
					</LinkCard>
				</li>
				<li>
					<LinkCard
						href='https://www.instagram.com/fabbahiense_'
						aria='instagram'
					>
						<Instagram />
					</LinkCard>
				</li>
			</ul>

			<a
				aria-label='scroll to the work section'
				href='#work'
				class='transition-all flex flex-row items-center justify-center gap-4 border-[1px] mt-10 max-w-full py-3 px-4 text-sm uppercase rounded-2xl hover:border-black hover:bg-white hover:text-black tracking-wider'
			>
				<!-- <svg
					class='chevron'
					xmlns='http://www.w3.org/2000/svg'
					width='2em'
					height='2em'
					viewBox='0 0 32 32'
				>
					<path
						fill='currentColor'
						d='M5.366 11.116a1.25 1.25 0 0 1 1.768 0L16 19.982l8.866-8.866a1.25 1.25 0 0 1 1.768 1.768l-9.75 9.75a1.25 1.25 0 0 1-1.768 0l-9.75-9.75a1.25 1.25 0 0 1 0-1.768'
					></path>
				</svg> -->
				Let's create something amazing together.
			</a>
		</div>
	</main>
</section>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100svh;
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 20%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		scroll-behavior: smooth;
		transition: scroll-behavior 0.3s ease;
	}
	@media (max-width: 768px) {
		main {
			max-width: 100%;
		}
	}
	.chevronA {
		animation: upAndDown 2s ease-in-out infinite;
	}
	.chevron:hover path {
		fill: var(--bright-pink);
		cursor: pointer;
	}
	#hero {
		position: relative;
		/* background-image: url("../assets/DarkMode.svg");
        background-size: cover;
        background-repeat:no-repeat;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: color; */
		overflow: hidden;
	}
	.svghero {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		/* backgr */
	}
	h1 {
		font-size: clamp(1.5rem, 8vw, 3rem);
		letter-spacing: 1px;
		font-weight: 700;
		line-height: 160%;
		text-align: center;
		max-width: 70%;
		margin-bottom: 1em;
	}
	.f {
		font-size: clamp(0.8rem, 1vw, 1.5rem);
	}
	p.fade-text span:hover,
	h1:hover {
		color: var(--bright-pink) !important;
	}
	p {
		font-size: clamp(1rem, 4vw, 1.3rem);
	}

	.astro-a {
		position: absolute;
		left: 90%;
		transform: translatex(-50%);
		width: 110px;
		height: auto;
		z-index: 2;
		animation: rocketFlight 2s infinite ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	@keyframes rocketFlight {
		0% {
			bottom: 0%;
		}
		50% {
			bottom: 10%;
		}
		100% {
			bottom: 0%;
		}
	}

	@keyframes upAndDown {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10%);
		}
		100% {
			transform: translateY(0%);
		}
	}
</style>
