---
import AboutSection from './AboutSection.astro';
import Clients from './ClientsSection/Clients.astro';
import Hero from './Hero.astro';
import SelectedWorks from './SelectedWorks.astro';
import Footer from './Footer.astro';
---

<section class='snap-mandatory'>
	<Hero />
	<Clients />
	<SelectedWorks  />
	<AboutSection />
	<Footer />
</section>
