---
import Github from "./Github.astro";
import LinkCard from "./LinkCard.astro";


---

<div class='pt-16 flex flex-col gap-12 max-w-[76%] mx-auto'>
	<div class='flex flex-col justify-start items-between'>
		<h2 class='my-10 mb-2 text-center md:text-left'>
			<span class='fade-text font-extralight'>Selected</span> Works
		</h2>

		<p
			class='flex mx-auto md:ml-5 flex-row justify-between items-center max-w-max gap-2 text-[.7rem] fade-text'
		>
			See them all on
			<LinkCard
				href='https://github.com/FabbSantos'
				aria='github'
			>
				<Github />
			</LinkCard>
		</p>
	</div>
</div>
