---
import List from './ListWorks.vue';
import SelectedWorkText from './SelectedWorkText.astro';
---

<section id='work' class='works-section'>
	<SelectedWorkText />
	<List client:visible />
</section>

<style>
.works-section {
	@apply container mx-auto px-4;
}
</style>
