---
import List from './List.astro';
import SelectedWorkText from './SelectedWorkText.astro';
---

<section
	class=' mt-20 pt-16 snap'
	id='work'
>
	<SelectedWorkText/>

	<List class:list="snap"/>
</section>
