---
import List from './List.vue';
import SelectedWorkText from './SelectedWorkText.astro';

---

<section
	class=' mt-20 pt-16 snap'
	id='work'
>
	<SelectedWorkText/>

	<List class:list="snap" client:load/>
</section>
