---
import List from './List.vue';
import SelectedWorkText from './SelectedWorkText.astro';
---

<section
	id='work'
	class='snap relative'
>
	<SelectedWorkText />

	<List
		class:list={['snap', 'work']}
		client:visible
	/>
</section>
