---
import Card from "./Card.astro";
import fab from '../assets/fab.webp'
import beer from '../assets/beer.jpg'
import gamer from '../assets/gamer.jpg'

---

<section id="about snap">
    <Card
        title ={ 'a bit about me' }
        fadeText={`I'm a Front-End and a Mobile Developer, based in Rio de Janeiro, Brazil. `}
        body={`I have multiple layers. Just like an onion. I'm calm, I'm a father, I'm a husband, I love football, music, games, beer, science, and, of course, technology.`}
        flexType="flex-row-reverse"
        imageToDisplayAbout={ [fab, beer, gamer] }
    >
</section>