---
import Card from "./Card.astro";
import fab from '../assets/fab.webp'
import beer from '../assets/beer.jpg'
import gamer from '../assets/gamer.jpg'

---

<section id="about">
    <Card
        title ={ 'a bit about me' }
        fadeText={`I'm a Front-End and a Mobile Developer, based in Rio de Janeiro, Brazil. `}
        body={`I'm a simple, calm person, that loves football, music, games and beer.`}
        flexType="flex-row-reverse"
        imageToDisplayAbout={ [fab.src, beer.src, gamer.src] }
    >
</section>