---
import { Image } from "astro:assets";
import Github  from "./Github.astro";
import LinkCard from "./LinkCard.astro";

import Logo from '../assets/Logo.svg'
import Linkedin from "./Linkedin.astro";
import Instagram from "./Instagram.astro";
---

<ul class="flex flex-col md:flex-row relative w-full items-center justify-start gap-8  py-5 border-b-0 border-white max-w-[95%] mx-auto">
    <li><Image src={Logo} alt={'Portfolio Fabrício Bahiense'} loading='eager' width={30}/></li>
    <!-- <li class="!text-xs absolute top-1/2 left-2"> <a href="#"> fabriciobs2000@gmail.com</a> </li> -->
    
    <div class="md:absolute top-1/2 -translate-y-1/2 right-2 flex flex-col md:flex-row gap-2">
        <li class="!normal-case text-base"> 
           <a href="">Work</a>
        </li>
        <li> 
           <LinkCard href="https://github.com/FabbSantos">
              <Github/>
            </LinkCard>
        </li>
        <li>            
            <LinkCard href="https://github.com/FabbSantos">
              <Linkedin/>
            </LinkCard>
        </li>
        <li>
            <LinkCard href="https://github.com/FabbSantos">
              <Instagram/>
            </LinkCard> 
         </li>
    </div>
</ul>

<style>
    ul li {
        @apply text-base text-white md:mx-3 uppercase;
    }
</style>