---
interface Props {
	href: string;
}

const { href} = Astro.props;
---

<a href={href} target="_blank" class="box menu-item">
    <slot/>
</a>

<style>
.box {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}


.box::before { 
  content: '';
  width: 10px;
  height: 24px;
  border-radius: 20%;
  position: absolute;
  top: 2px;
  left: -20px;
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 77%,
    rgba(255, 255, 255, 0.5) 98%,
    rgba(94, 93, 93, 0) 100%
  );
  transform: skewX(-30deg);
  animation: slide 1s cubic-bezier(.41,.29,.45,1) infinite;
}


@keyframes slide {
    0% {
        top: 10%;
        left: -3px;
        height: 17px;
    }

    50% {
        left: 12px;
        height: 10px;
    }

    100% {
        left: 13px;
        top: 63%;
        height: 0px;
    }
}
</style>