---
import List from "./List.astro";

---

<section class="mt-20 pt-16" id="work">
    <div class="flex flex-col gap-12 max-w-[70%] mx-auto">
        <h2 class="my-10">
            <span class="fade-text font-extralight">Selected</span> Works
        </h2>
    </div>
    <List/>
</section>