---
import { Image } from 'astro:assets';

const { src, alt, invert = false } = Astro.props;
---

<li class={invert ? 'invert' : ''}>
	<Image src={src} alt={alt} />
</li>

<style>
	.invert {
		filter: invert(100%);
	}
	img {
		filter: grayscale(100%) opacity(50%);
		width: auto;
		max-width: 200px;
		object-fit: cover;
	}
</style>
